@layer base {
	::selection {
		@apply bg-primary/25;
	}

	html {
		-webkit-tap-highlight-color: rgba(128, 128, 128 / 0.5);
	}

	ul, ol, nav {
		overflow: auto;
	}


	:focus-visible {
		outline: none;
	}

	:modal {
		@apply overlay-container;
 	}

 	:modal::backdrop {
 		@apply bg-black/25 backdrop-blur-sm;
 	}
	/*
	*:has(#wu-active-modal) *:not(#wu-active-modal, #wu-active-modal *) {
		pointer-events: none;
		overflow: hidden;
	}
	*/
}
