@import "tailwindcss";
@import "./wu.css";

/* wu.dynamic.modal
Styling for `wu::Modal`.
*/
@theme inline {
	--wu-dynamic-modal-bg-color: var(--color-surface-1);
	--wu-dynamic-modal-border-color: var(--color-surface-emph-1);
	--wu-dynamic-modal-border-width: 1px;
	--wu-dynamic-modal-border-radius: var(--radius-md);
	--wu-dynamic-modal-shadow: var(--shadow-lg);
	--wu-dynamic-modal-padding: --spacing(4);
}

/* wu.dynamic.drawer
Styling for `wu::Drawer`.
*/
@theme inline {
	--wu-dynamic-drawer-size: 300px;
	--wu-dynamic-drawer-bg-color: var(--color-surface-1);
	--wu-dynamic-drawer-border-color: var(--color-surface-emph-1);
	--wu-dynamic-drawer-border-width: 1px;
	--wu-dynamic-drawer-border-radius: var(--radius-md);
	--wu-dynamic-drawer-padding: --spacing(4);
}

/* wu.dynamic.toasts
Styling for `wu::ToastHook` and `wu::Toast`.
*/
@theme inline {
	--wu-dynamic-toast-bg-color: var(--color-surface-2);
	--wu-dynamic-toast-border-color: var(--color-surface-emph-2);
	--wu-dynamic-toast-border-width: 1px;
	--wu-dynamic-toast-border-radius: var(--radius-lg);
	--wu-dynamic-toast-shadow: var(--shadow-lg);
	--wu-dynamic-toast-padding: --spacing(1) --spacing(2);
	--wu-dynamic-toast-min-height: --spacing(10);
}
